@import "tailwindcss";
@tailwind utilities;

@theme {
  /* Fonte revisar! */
  --font-montserrat: "Montserrat", sans-serif;

  /* Colors */
  --color-primary: #001F3F;
  --color-secondary: #003366;
  --color-jet: #333333;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply cursor-default;
  }

  /* Impede que as imagens sejam "selecionadas" ou arrastadas */
  img {
    @apply select-none;
    -webkit-user-drag: none; /* Para navegadores Safari/Chrome */
  }
  
  body {
    @apply font-montserrat;
    @apply text-jet;
  }
}

body {
  background-color: #fdfbfe;
}